$dark-green: #094c35;
$dark-red: #7a0f1a;
$dark-blue: #15155b;
$light-blue: #c6e6ff;
$pink: #fccee6;
$light-yellow: #fafbdf;
$black: #0000;
$white: #ffffff;
$avenir-font: 'Avenir-lt-pro', sans-serif;
$gambado-font: 'gambado-sans-forte', sans-serif;